@charset "UTF-8";
.model-doc table {
  border: 1px solid black;
  width: 100%; }
  .model-doc table td {
    border: 1px solid black;
    padding: 5px; }
  .model-doc table th {
    border: 1px solid black;
    padding: 5px; }
.model-doc details {
  margin-block-end: 1em; }
.model-doc .external-link .external-link-title {
  display: none; }
.model-doc .external-link::after {
  content: url(../images/external-link-symbol.png);
  padding-left: 5px; }
.model-doc .index .index-ns .index-group {
  margin-top: 5px;
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 5px; }
.model-doc .index .index-ns .ns-authority {
  color: dimgrey; }
.model-doc .index .index-ns .class-curi .curi .prefix {
  display: none; }
.model-doc .diagram {
  max-width: 100%; }
.model-doc .class-index {
  border: none;
  margin: 0px; }
  .model-doc .class-index tr:nth-child(even) {
    background-color: white; }
  .model-doc .class-index tr:nth-child(odd) {
    background: #EEE; }
  .model-doc .class-index .class-item td {
    border: none; }
  .model-doc .class-index .class-item .class-curi {
    text-align: right;
    width: 30%;
    vertical-align: top; }
    .model-doc .class-index .class-item .class-curi .curi .name-definition {
      white-space: nowrap; }
    .model-doc .class-index .class-item .class-curi .curi .prefix {
      white-space: nowrap; }
      .model-doc .class-index .class-item .class-curi .curi .prefix::after {
        content: "­"; }
  .model-doc .class-index .class-item .comment {
    width: 70%; }
  .model-doc .class-index .external-link {
    margin-right: 5px; }
.model-doc .classes .class-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px; }
  .model-doc .classes .class-heading .class-name {
    margin-bottom: 0px;
    align-self: flex-start;
    margin-top: 0px; }
  .model-doc .classes .class-heading .class-meta {
    align-self: flex-end;
    text-align: end;
    margin-top: 0px; }
.model-doc .classes .subClassOf ul {
  padding-left: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block; }
  .model-doc .classes .subClassOf ul li {
    display: inline-block; }
  .model-doc .classes .subClassOf ul li:not(:last-child):after {
    content: ", ";
    color: black; }
.model-doc .prefix-table {
  border: none; }
  .model-doc .prefix-table .prefix-map-prefix .default-prefix {
    color: dimgrey; }
  .model-doc .prefix-table tr:nth-child(even) {
    background-color: white; }
  .model-doc .prefix-table tr:nth-child(odd) {
    background: #EEE; }
.model-doc .property-table .property-overview .property-attrs {
  display: flex;
  align-items: center; }
  .model-doc .property-table .property-overview .property-attrs div {
    display: inline-flex;
    align-items: center;
    background: #EEE;
    color: dimgray;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    padding: 0.1rem 0.25rem;
    margin-right: 0.5em; }

.curi {
  color: dimgrey; }
  .curi .name {
    color: black; }
    .curi .name a {
      color: blue; }
  .curi .default-prefix {
    color: white;
    background-color: darkgray;
    padding: 2px;
    border-radius: 4px;
    margin-right: 5px; }

.model-doc {
  padding-bottom: 15px; }

ol {
  list-style-type: disc; }

/*# sourceMappingURL=model-doc-style.css.map */
